/* Base styles that apply before component-specific styles */

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Keep the code style */
code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
