google_auth>=2.22.0
pre-commit~=3.2.0
black~=23.9.1
PyJWT~=2.6.0
hypothesis~=6.70.0 # Backend
starlette~=0.37.2
fastapi-limiter~=0.1.6
pydantic_settings
pydantic~=2.7.1
email-validator~=2.0.0
fastapi~=0.111.0
SQLAlchemy~=2.0.30 # We have two almost identical dependencies here...
psycopg_binary~=3.2.1
psycopg2-binary~=2.9.9
pytest-postgresql~=6.0.0
#torch~=2.3.0
langchain~=0.2.6
langchain-core~=0.2.6
transformers~=4.42.0
langchain-community~=0.2.5
#vllm~=0.5.0
pytest~=8.2.2
pytest-cov~=4.1.0
requests~=2.32.3
python-dotenv~=1.0.1
pytest-mock~=3.10.0

